<%- include('partials/header.ejs') %>
    <title>Add Blog</title>
    </html>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="main-body">
            <div class="add-blog-section">
                <div class="elements">
                    <h2>Post Blog! <%=locals.userData%></h2>
                </div>
                
                <form action="/blog/addBlogPost" method="post">
                    <div class="elements">
                        <label for="title">Title: </label>
                        <input type="text" name="blog-title" id="blog-title" required>
                    </div>
                    <div class="elements">
                        <label for="description">Enter content: </label>
                        <!-- <input type="text" name="blog-description" id="blog-description"> -->
                        <textarea name="blog-description" id="blog-description"cols="30" rows="4" required></textarea>
                    </div>
                    <div class="submit-div">
                        <button class="submit-btn post-blog-btn">Post Blog</button>
                    </div>
                </form>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>