<%- include('partials/header.ejs') %>

<title>Home</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="home-page">
        <img class="bloggle-img" src="/Images/Bloggle.png" width="900px" height="600px" alt="Home Img">
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>