<%- include('partials/header.ejs') %>
  <title>SignUp Page</title>

  </html>

  <body>
    <%- include('partials/navbar.ejs') %>
      <div class="box">
        <div class="signup-card">
          <h2>Create Account!</h2>
          <form action="/userAccess/signUp" method="post">
            <div class="full-name">
              <div>
                <label for="firstName">First Name:</label>
              <input type="text" name="fname" id="fname" required>
              </div>
              <div>
                <label for="lastName">Last Name:</label>
              <input type="text" name="lname" id="lname" required>
              </div>
            </div>
            <div class="elements">
              <label for="email">Email Address:</label>
              <input type="email" name="email" id="email" required>
            </div>
            <div class="elements">
              <label for="password">Enter Password:</label>
              <input type="password" name="old-password" id="password" required>
            </div>
            <div class="elements">
              <label for="password">Confirm Password:</label>
              <input type="password" name="confirm-password" id="confirm-password" required>
            </div>
            <div class="elements submit-div">
              <button class="submit-btn">Create</button>
            </div>
          </form>
        </div>
      </div>
      <%- include('partials/footer.ejs') %>
  </body>