<%- include('partials/header.ejs') %>
  <title>SignIn Page</title>

  </html>

  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="main-content">
      <div class="box">
        <div class="signin-card">
          <h2>Login</h2>
          <form action="/userAccess/signIn" method="post">
            <div class="elements">
              <label for="email">Email Address: </label>
              <input type="email" name="email" id="email">
            </div>
            <div class="elements">
              <label for="password">Enter Password: </label>
            <input type="password" name="password" id="password">
            </div>
            <div class="elements submit-div">
              <button class="submit-btn">Submit</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
      
      <!-- <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
      </div> -->
      <%- include('partials/footer.ejs') %>
  </body>