<%- include('partials/header.ejs') %>
  <title>SignIn Page</title>

  </html>

  <body>
    <%- include('partials/navbar.ejs') %>
      <div class="box">
        <div class="signup-card">
          <form action="/userAccess/signIn" method="post">

            <label for="email">Email Address</label>
            <input type="email" name="email" id="email"><br>
            <label for="password">Enter Password</label>
            <input type="password" name="password" id="password"><br>
            <button class="submit-btn">Submit</button>
          </form>
        </div>
      </div>
      <%- include('partials/footer.ejs') %>
  </body>