.navbar-brand img{
    width: 50px;
    height: 50px;
}
body{
    align-items: center;
    justify-content: center; 
}
.bloggle-img{
    width: 700px;
}
.main-content{
    color: rgb(1, 64, 1);
}
.get-started-btn{
    background: rgb(1, 64, 1);
    color: white;
    border-radius: 20px;
}
.get-started-btn:hover{
    background: rgb(0, 131, 0);
}
.box{
    padding: 50px;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    color: rgb(1, 64, 1);;
}
.home-page{
    justify-self: center;
}
.signin-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 350px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
}
.signup-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 430px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
}
form{
    width: 350px;
}
.elements{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.submit-btn{
    height: 35px;
    width: 120px;
    margin: 15px 40px;
    /* padding: 0px 20px; */
    border-radius: 20px;
    background: rgb(2, 112, 17);
    cursor: pointer;
    color: white;
}
.post-blog-btn{
    margin: 15px 100px ;
}
.blog-btn, .btn-success{
    border-radius: 10px;
    margin: 0px 10px;
    background: rgb(2, 112, 17);
    border:none ;
    cursor: pointer;
    color: white;
}
.blog-btn:hover, .btn-success:hover{
    background: rgb(0, 131, 0);
}
.submit-btn:hover{
    background: rgb(0, 131, 0);
}
.submit-btn:active {
    background: rgb(0, 131, 0);
    transform: scale(0.98);
    outline: none;
    border: none;
}

.submit-div{
    justify-content: center;
    align-items: center;
}
.col{
    margin: 30px;
}
.card{
    width: 400px;
}
.full-name{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
#fname,#lname{
    width: 165px;
}
.main-body{
    color: rgb(2, 85, 13);;
    align-items: center;
    justify-content: center;
    padding: 50px 500px;
}

.add-blog-section{
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 10px;
    width:400px;
    height: 400px;
    padding: 30px;
}